<div class="container-fluid bg-light shadow-sm px-lg-5">
  <div class="px-2 py-2">
    <div class="d-flex flex-column flex-md-row flex-nowrap align-items-center justify-content-center">
      <div class="col-12 col-md-5 text-center text-md-start order-2 order-md-1">
        <p class="h4 fw-light">
          Ghulam Ishaq Khan Institute <br>of Engineering Sciences & Technology
        </p>
      </div>
      <div class="col-12 col-md-2 text-center text-md-center order-1 order-md-2">
        <img id="headerLogo" src="../assets/images/logo.png" alt="gikilogo" width="30%">
      </div>
      <div class="col-12 col-md-5 text-center text-md-end order-3 order-md-3">
        <p class="h3 fw-light">
          Online Admissions Portal
        </p>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-light shadow p-2 mt-1">

  <div class="container">
    <nav class="nav justify-content-center flex-md-row flex-column text-center nav-pills">
      <a class="nav-link mx-1" [routerLink]="['home']" routerLinkActive="active">Home</a>
      <a class="nav-link mx-1" href="#">Procedures</a>
      <a class="nav-link mx-1" href="#">Fee & Expenses</a>
      <a class="nav-link mx-1" href="#">Admission Schedule</a>
      <a class="nav-link mx-1" href="#">Contact Us</a>
      <a class="nav-link mx-1" [routerLink]="['auth/login']">Login</a>
    </nav>
  </div>

</div>
