<footer class="footer mt-auto bg-dark shadow-sm text-muted py-1 border-top border-1 border-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-0 py-0">
                <p>
                  <small>
                    Copyright &#9400; 2022 GIK Institute of Engineering Sciences and Technology, All Rights Resrved
                  </small>
                </p>
            </div>
            <div class="col-12 text-center my-0 py-0">
                <p>
                    <small>
                        Designed & Developed by Engr. Muhammad Mohsin Zafar | FCSE | GIKI
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

