<footer class="footer mt-auto bg-Amber100 shadow-sm text-muted pt-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-0 py-0">
                <p class="lh-1">
                  <small>
                    Copyright &#9400; 2022 GIK Institute of Engineering Sciences and Technology, All Rights Resrved
                  </small>
                </p>
            </div>
            <div class="col-12 text-center my-0 py-0">
                <p class="lh-1">
                    <small>
                        Designed & Developed by Muhammad Mohsin Zafar | FCSE | GIKI
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>

